In [1]:
print('Hello World')

Hello World

In [14]:
i = "hello"
print(i)

hello

In [9]:
a = "this is a string"
b = 'this is also string'
c = '''this sisss'''

In [10]:
I = "I don't know"
L = '''I don't know how to Read the "Book".'''
print(L)

I don't know how to Read the "Book".

In [19]:
2*2+3
3j+2 ### complex number

7

In [5]:
a = "this is a string"  ### you can define a string with single quote, double quote and even triple quote for string with multiple lines.
b = 'this is another string'
c = '''this is a third string''' 

print(a)

print(len(a))  ## gives you the length of the string

### 
# i = 'I don't know'
# i = "I don't know"
# i = "To read the "Book"."
# i = 'To read the "Book".'
# i = '''I don't know how to read the "Book".'''

### boolean 
a == b
a != b

this is a string
16

True

In [27]:
#### string and indexing
new_str = 'che4410/7700Python'

type(new_str)
len(new_str)

### length of the string = 18

new_str[0]
new_str[17]
new_str[-1]
new_str[-2]
new_str[0:3] 
new_str[2:6]
new_str[1:]  ### colon

new_str[:3]
new_str[:]
new_str

new_str = 'che4410/7700Python'
### zhe4410...
# new_str[0] = 'z'

new_str = 'z' + new_str

new_str2 = 'z' + new_str[2:]
new_str2

'zhe4410/7700Python'

In [28]:
x = input("Enter a number for x: ")

Enter a number for x: 3

In [36]:
type(x)
x = float(x)
type(x)
x

3.0

In [72]:
### number manipulation

a = 7
type(a)

b = 3
type(b)

print('This is addition: ', a%b)

an = 2.0 + 6//4
type(an)

mn = a*2 + b*4 +\
a**2 + a*b

print('mn is:', mn)


### format a number  format(number,spec)

format(123.392,'20.4f')
format(10000000.392,',.2f')
format(1000000.20,'0.2e')

format(1111,'10d')

This is addition:  1
mn is: 96

'      1111'

In [83]:
import numpy as np
Pi = np.pi
r = 5.0
h = 10

area = 2*Pi*r**2 + 2*Pi*r*h
area
area = int(area)
type(area)


print('Area is: ', format(area,'d'))

Area is:  471

str

In [138]:
#### list

x = [2,4]
len(x)
y = x
y

new_str = 'che4410/7700Python'
N_list = list(new_str)
N_list
''.join(N_list)


N_list[0]
N_list[0] = 'z'
N_list

L1 = ['string',1,[2,[4,129]]]
L1

len(L1)
L1[2]
L1[2][1][1]
#L1[2][1]


d = 4

L1.append(d)

L1

L2 = L1[0:-2]
L2

L2 + L1

A = [2,3,1]
B = A + A + A
B

M = [[1,4,6,12],
     [-5,8,9,1],
     [-6,7,11,19]]
type(M)
len(M)
M[0][2]
M[2][1]

New_M = M

New_M + M
len(New_M+M)

6

In [141]:
X = [1,2,3]
Y = [4,5,6]

summation 
ans = zip(X,Y)
for (i,j) in zip(X,Y):
    print(i)

1
2
3